table {
      margin: 0 auto;
      font-size: large;
      border: 1px solid black;
    }
  
h1 {
    text-align: center;
    color: #006660;
    font-size: xx-large;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    }

h2 {
    text-align: center;
    color: #006660;
    font-size: x-large;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    }

h3 {
        color: #006660;
        font-size: large;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: normal;
    }
  
  
      /* th {
        background-color: rgb(67, 195, 212);
        border: 1px solid black;
      } */
  
      th,
      td {
        font-weight: bold;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
      }
  
      td {
        font-weight: lighter;
      }